body {
    font-family: 'Times New Roman', Times, serif;
}

.navbar-inverse {
    padding: 0 50px 0 50px;
    margin-bottom: 90px;
    background-color: #FE3939;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 1.4em;
}

.navbar-inverse .navbar-brand {
    color: #9d9d9d;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
   color: #fff;
   background-color: transparent;
}

.navbar-inverse .navbar-text {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > input
{
    margin: 20px 0 0 80px;
    width: 630px;
}

.navbar-inverse .navbar-nav > li > button
{
    margin: 20px 90px 0 20px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
    margin-top: 10px;
    float: right;

}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #000000;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: #FFFFFF;
}

/*input.form-control {
    align-content: center;
    display: flex;
    justify-content: center;
    width: 400px;
}*/
.navbar navbar-inverse navbar-fixed-top > container-fluid > ul
{
    width: 800px;
}

@media only screen and (max-width: 930px) {
    .navbar-right {
        display: flex;
        justify-content: center;
    }
}
input, select, textarea {
    max-width: 900px !important;
}

.main-body {
    background-color: #F0F0F0;
    padding-bottom: 40px;
}

.footer {
    background-color: #FFFFFF;
    border-top: 3px solid #FE3939;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

#back2Top:hover {
    background-color: #DDF;
    color: #000;
}

