body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    /*display: inline;*/
    /*display: flex;
    flex-wrap: nowrap;*/
}

/**************asterisk**************/
.required:after {
    content: "*";
    font-weight: bold;
    color: red;
}

.text-red {
    color: #FE3939;
}



/***************Bavigation Bar*******************/
.navbar-inverse {
    padding: 0 50px 0 50px;
    margin-bottom: 90px;
    background-color: #FE3939;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 1.4em;
}

.navbar-inverse .navbar-brand {
    color: #9d9d9d;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
   color: #fff;
   background-color: transparent;
}

.navbar-inverse .navbar-text {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > input
{
    margin: 20px 0 0 80px;
    width: 630px;
}

.navbar-inverse .navbar-nav > li > button
{
    margin: 20px 90px 0 20px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
    margin-top: 10px;
    float: right;

}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #000000;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: #FFFFFF;
}

.navbar navbar-inverse navbar-fixed-top > container-fluid > ul
{
    width: 800px;
}

@media only screen and (max-width: 930px) {
    .navbar-right {
        display: flex;
        justify-content: center;
    }
}

input, select, textarea {
    max-width: 900px !important;
}

/***************Input-group-Btn*******************/
/*.input-group-btn {
    padding-left: 0;
}*/


.md-form mt-0 {
    width: 600px;
}

.main-body {
    background-color: #F0F0F0;
    padding-bottom: 40px;
}

.footer {
    background-color: #FFFFFF;
    border-top: 3px solid #FE3939;
}

/***************Scroll-to-top Btn*******************/
#to-top {
    position: fixed;
    bottom: 50px;
    right: 0;
}

.back-button {

    width: 40px;
    line-height: 40px;
    overflow: hidden;
    display: none;
    z-index: 999;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-color: #FE3939;
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

.back-button:hover {
    background-color: #000000;
    color: #FFFFFF;
}
