body {
    font-family:'Times New Roman', Times, serif;
}

#status a
{
    color: #000000;

}

#status a:hover
{
    color: #FE3939;
}

#status p
{
    margin-top: 20px;
    font-weight: 800;
    font-size: 1.4em;
}