body {
}

.container {
    padding-left: 0px;
    padding-right 0px;
}

@media (min-width: 992px) {}
    .container {
        width: 1270px;
    }
}


/*********************CheckOut Status*********************/
.checkout-progress-item {
    display: inline-block;
    margin: 50px 0;    
    width: 100%;

}

.checkout-progress-item .active {
    color: #FE3939;
    position: relative;
}

.row-bordered:after {
    content: "";
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 5px 20px;
}

/*********************CheckOut Item*********************/
#cart {
    background-color: #FFFFFF;
    padding: 30px 15px;
    padding-top: 0;
    margin-right: 30px;
    margin-bottom: 50px;
    border: 1px solid #DCDCDC;
}

#cart-bar {
    background-color: #000000;
    color: #FFFFFF;
    height: 40px;
    padding: 10px 0;
    margin-bottom: 30px;
}

#cart .row-bordered:after {
    margin-left: 0;
    margin-right: 0;
}

/*********************Order Summary*********************/
#order-summary {
    background-color: #FFFFFF;
    margin-bottom: 50px;
    border: 1px solid #DCDCDC;
}

#order-summary .row {
    margin-bottom: 20px;
}

#order-summary .col-md-7, .col-md-12 {
    margin-left: 10px;
}

#subtotal {
    padding-top: 30px;
}

#total {
    font-weight: bold;
}
